---
layout: default
---
<h1>EVENTS</h1>
<h3><b>Saturday, November 2, 1PM:</b> <a href="#museum_without_walls">Museum Without Walls - Caravanserai: Interactive Chamber Music Experience</a> @ Central United Methodist Church</h3>
<h3><b>Sunday, March 11, 5PM:</b> <a href="#sunday_at_5">Sunday at 5</a> @ Trinity Episcopal Church</h3>
<h3><b>Sunday, April 5, 12PM:</b> <a href="#library">Little Lunch Music</a> @ Staunton Public Library</h3>
<h3><b>Sunday, April 8, 8:30PM:</b> <a href="#pierrot">ShenFringe</a> - Pierrot Lunaire @ Central United Methodist Church</h3>
<h3><b>Monday, April 9, 3PM:</b> <a href="#pierrot">ShenFringe</a> - Pierrot Lunaire @ Central United Methodist Church</h3>
<h3><b>Monday, April 30, 8PM:</b> <a href="#pierrot">Pierrot Lunaire</a> @ JMU's Anthony Seeger Hall</h3>
<figure>
  <img src="img/caravanserai.jpg" alt="Caravanserai Ensemble" title="photo: Betsey Suchanic">
</figure>
<h2>Event Details:</h2>
<h3><b><a name="museum_without_walls"></a>Museum Without Walls Series - Caravanserai: Interactive Chamber Music Experience</b></h3>

<p><i>Music:</i> In collaboration with the <a href="https://www.blueridgechildrensmuseum.org/museum-without-walls.html">Blue Ridge Children's Museum</a> Musicians from Caravanserai (Yi-Ping on oboe, Jessica on violin and viola, and Eleanor on cello) invites you to an interactive classical music concert where you get to learn about music by listening and by participating in musical activities. You might end up learning a lot about music or just enjoy grooving to music in this informal concert setting.</p>
<p><i>Time:</i> Saturday, November 2nd at 1PM at at Central United Methodist Church, 14 N Lewis St, Staunton, VA 24401</p>

<h3><b><a name="sunday_at_5"></a>Sunday at 5 Series: Caravanserai with French Flair with special guest pianist Clement Acevedo</b></h3>

<p><i>Music:</i> 1. Loeffler first of Two Rhapsodies for viola, oboe, and piano 2. Poulenc Trio for oboe, bassoon, and piano (performed with oboe, viola, cello, and piano)</p>
<p><i>Time:</i> Sunday, March 11 at 5pm at Trinity Episcopal Church in Staunton 214 W. Beverley Street, Staunton, VA 24401</p>

<h3><b><a name="library"></a>Little Lunch Music at the Staunton Public Library with special guest vocalist Angel Azzara</b></h3>

<p><i>Time:</i> April 5 noon-1pm, Staunton Public Library, 1 Churchville Ave, Staunton, VA 24401</p>

<h3><b><a name="pierrot"></a>Shenandoah Fringe Festival: Pierrot Illuminated by the Moon featuring Caravanserai Pierrot Ensemble and Lightbound Productions</b></h3>
<h4>Pierrot Ensemble musicians: Angel Azzara on voice, Beth Chandler on flute, David Perry on clarinet, Greg Childress on violin, Eleanor Graham on cello, and Clement Acevedo on piano. Light artist: Alex Rodriguez</h4>

<p><i>Music:</i> Schoenberg Pierrot Lunaire 
<p><i>Times:</i> Sun, April 8 at 8:30pm, Mon, April 9 at 3pm, Mon, April 30 at 8pm</p>
<p>April 8 and 9 performances are part of the <a href="http://www.shenfringe.com/2018-performers">ShenFringe festival</a> with performances at Central United Methodist Church, 14 N Lewis St, Staunton, VA 24401.</p>
<p>April 30 performance will be held at James Madison University’s Anthony Seeger Hall 821 S. Main St. Harrisonburg</p>
